html, header {
 padding:0;
 margin:0;
 background-color: grey;
 border: 0;
}

.front {
 border: 0;
 padding:0;
 margin:0;
 height: 50vh;
 width: 100%;
 text-align: center;
 verticle-align: middle;
 background-color: coral;
}
