html {
 height: 100%; 
}

.top {
 min-height: 50%;
 width: 100%;
 text-align: center;
 verticle-align: middle;
}

.bottom {
 min-height: 50%;
 width: 100%;
 text-align: center;
 verticle-align: middle;
}
